@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quality Trash Services</h1>
    <p class="lead">Sign up today for special pickups, easy customization and great customer service!</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>
<div>
    <img src="~/Content/garbagetruck.png" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Award Winning Service</h2>
        <p>
            National Trash Collector Award 2018
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Affordable</h2>
        <p>Starting at $30 per month for weekly services!</p>        
    </div>
    <div class="col-md-4">
        <h2>Customizable</h2>
        <p>You can easily change your weekly pickup day, get special pickups, pause service when you are out of town to save money!</p>
    </div>
</div>