@model Trash_Collector.Models.EmployeeCustomersViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var c in Model.LocalCustomers) {
    <tr>
        <td>
            @if (Model.ChargedCustomers.Contains(c))
            {
                <text>Customer Charged</text>
            }
            else
            {
                @Html.ActionLink("Mark Complete", "WeeklyBill", new { id = c.ID })
            }             
        </td>
    </tr>
}

</table>
